.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.mcp.json
"laradumps.yaml"
*.log
/.agents
/.codex
/.cursor
/.fleet
/.gemini
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tmp
/vendor
boost.json
CLAUDE.md
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
WARP.md
yarn-error.log
GEMINI.md
opencode.json
WARP.md
