includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/mrpunyapal/peststan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    peststan:
        testCaseClass: Tests\TestCase
        pestConfigFiles:
            - tests/Pest.php

    paths:
        - app
        - bootstrap
        - config
        - database
        - public
        - routes
        - tests

    level: 10

    ignoreErrors:

    excludePaths:
      - database\migrations\2025_08_13_193244_create_permission_tables.php
      - database\migrations\2025_09_22_180234_create_activity_log_table.php
      - config/log-viewer.php
      - config/settings.php
      - _ide_helper*.php
      - bootstrap/cache


#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false

    tmpDir: /tmp/phpstan
