.fi-sidebar {
  @apply border-r border-zinc-200/90 bg-white/95 backdrop-blur-xl dark:border-white/10 dark:bg-zinc-900/95;
}

.fi-sidebar.fi-sidebar-open {
  @apply shadow-none ring-0 dark:ring-0;
}

.fi-sidebar:not(.fi-sidebar-open) {
  @apply w-14 lg:w-14;
}

.fi-sidebar-nav {
  @apply p-0;
  scrollbar-gutter: unset !important;
}

.fi-sidebar-nav-groups {
  @apply gap-y-0 mx-0 mb-16;
}

.fi-sidebar-nav-groups .fi-sidebar-group {
  @apply border-b p-2 gap-0;
  border-color: var(--border-color);
}

.fi-sidebar-nav-groups .fi-sidebar-group .fi-sidebar-group-items {
  @apply p-0;
}

.fi-sidebar-nav-groups .fi-sidebar-group .fi-sidebar-group-button {
  /* @apply border-b; */
}

.fi-sidebar-item {
  /* @apply border; */
}

.fi-sidebar-item-button {
  @apply rounded-md p-2;
}

.fi-sidebar-item-active > .fi-sidebar-item-button {
  @apply bg-white drop-shadow dark:bg-gray-800;
}

/* Dark mode */

:is(.dark .fi-sidebar-nav) {
  border-color: var(--border-color-dark);
}

:is(.dark .fi-sidebar-nav-groups .fi-sidebar-group) {
  border-color: var(--border-color-dark);
}
